*{
	margin:0;
	padding: 0;
}

.content{
	margin-top:0%; 
}

.background{
	height: 350px;
	background:linear-gradient(
      rgba(255,255,255,0.1), 
      rgba(255,255,255,0.1)
    ),  url("../../resources/img/Forum.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.listDiscussion thead{
	background-color: white!important;
}

.listDiscussion tbody td{
	padding: 0 5px 0 5px!important;
}

.uploadDiscussion{
	    float: right;
    padding: 20px 0px;
    margin: 1% 1%;
    border: 1px solid grey;
    background: lightgrey;
     border-radius: 32px;
}

.uploadDiscussion span{
    margin: auto;
    font-weight: 600;
   
}

.uploadDiscussion:hover{
    cursor: pointer;
}


.inputContent{
	margin: 1% 0;
}

#title{
	margin-right: 2%;
    width: 89%;
}

.listDiscussion thead{
	    background: #54b8ff !important;
}

.listDiscussion{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

.sloganTitle{
	padding: 1% 0;
}

