*{
	margin:0;
	padding: 0;
}

.content{
	background: white;
}

.background{
	height: 350px;
	background:linear-gradient(
      rgba(255,255,255,0.1), 
      rgba(255,255,255,0.1)
    ),  url("../../resources/img/listening2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*css cho phan chon part luyen doc*/
.listPart{
	padding-left: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.part{
	margin: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px 50px;
	background: lightblue;
	
	border-radius: 4px;
	text-align: center;

	font-size: 15px;
	font-weight: 600;
}

.part a{
	color: black;
}

.part:hover{
	background: lightgrey;
}

.part:active{
	background: grey;
}
/*
.part a:visited{
	background: grey;
}*/


/*css cho noi dung hien thi cau hoi*/


.listQuestions{
	margin-bottom: 10px;
	
}


.btn{
	width: 150px;
	margin-left: 38%;
}

.dapan{
	display: flex;
	flex-wrap: wrap;

}

.question p{
	font-size: 18px;
}

.question p span{
	font-weight: 700;
}

.cauhoi{
	margin-bottom: 3px;
}

.dapan span{
	font-size: 18px;
	margin-left: 5px;
}

.dapan input{
	width: 17px;
	height: 17px;
}


/*css cho phan timer*/
/*.timer{
	position: relative;
}*/
.box-answer{
	border: 1px solid black;
	position: fixed;
	width: 27%;
}

.header{
	text-align: center;
	background: #FFD700;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 25px
}

.answers a{
	display:inline-block;
	padding-left: 9px;
	padding-top: 2px;
	margin: 2px 0 2px 4px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid grey;
	text-decoration: none;
}

