* {
	padding: 0;
}

.container-fluid {
	padding-left: 0 !important padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

html, body {
	height: 100%;
	background-color: #f1f1f1;
}

.navbar {
	padding: 0.25em 1em !important;
}

.div-parent {
	height: 100%;
	padding-top: 1px;
	padding: 0;
}

.active {
	display: none !important;
}

nav ul li a {
	color: white !important;
}

nav ul li:hover a {
	color: red !important;
}

.content {
	margin-top: 48px;
	min-height: 100%;
}

.inner-content {
	background-color: #dadada;
	padding-bottom: 4em;
}

.dong-da {
	padding-left: 2em;
	margin-top: 10px;
}

.dong-da span {
	padding: 4px;
}

.dong-da span:hover {
	background-color: yellow;
}

.cauhoi {
	padding-top: 1em;
	padding-bottom: 0.3em;
}

.xemkq {
	margin-top: 0.5em;
	padding: 4px;
	border-radius: 5px;
	background-color: #000b4f;
	color: white;
	border: none;
}

.xemkq:hover {
	background-color: #4f6fd1;
}

.title {
	padding: 1em 0;
	text-align: center;
	font-size: 1.3em;
}

.footer {
	/* height: 12em; */
	background-color: #5b4f4f;
}

.footer p {
	color: white;
}

@media ( min-width : 768px) {
	.left-footer {
		padding-top: 2em;
		padding-left: 8em;
	}
}

@media ( min-width : 768px) {
	.right-footer {
		padding-top: 2em;
	}
}

@media ( max-width : 768px) {
	.left-footer {
		padding-top: 0.5em;
		padding-left: 2em;
	}
}

@media ( max-width : 768px) {
	.right-footer {
		padding-top: 0.5em;
	}
}

.lienhe {
	width: 45px;
	height: 45px;
}

/*modal position*/
.modal {
	position: absolute;
	top: 60px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
}

.form-login {
	width: 80%;
	height: 30px;
	margin: 0 auto 0 auto;
}

.form-login input {
	width: 100%;
	height: 26px;
	border-radius: 6px;
	border: 1px solid #c2c4c6;
	font-size: 0.9em;
	padding-left: 3px;
}

.login-btn {
	height: 26px;
	width: 134px;
	font-size: 0.9em;
	line-height: 26px;
	padding: 0;
	background-color: #0c85c8;
	color: white;
}

#nop-bai {
	width: 90px;
	height: 40px;
	background-color: #005900;
	color: white;
	border: none;
	border-radius: 5px;
}

#nop-bai:hover {
	background-color: #009d00;
}

.not-show {
	display: none;
}

.mark {
	color: white;
	background: blue;
}

.choise {
	background-color: yellow;
}

.right {
	background-color: green !important;
}

.wrong {
	background-color: red !important;
}

@media ( min-width : 844px) {
	#menu-acc {
		position: absolute;
		margin-top: -2px;
		padding-left: 5px;
		background-color: #ececec;
		margin-left: -127px !important;
	}
}

@media ( max-width : 844px) {
	#menu-acc {
		position: absolute;
		margin-top: -2px;
		padding-left: 5px;
		background-color: #ececec;
	}
}

.dropdown-menu li {
	color: #8b8b8b;
}

.dropdown-menu li:hover {
	font-size: 1.1em;
	color: black;
}