/*register*/
/*phần tử phủ toàn màn hình*/

.register-dialog
{
    background-color:#0c85c8;
    height:auto;
    /*width:450px;*/
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:absolute;
    z-index:99999;
    top:10%;
    left:50%;
    margin-left:-180px;
}
    
.register-dialog .register_title
{
    color:white;
    font-size:16px;
    padding:8px 0 5px 8px;
    text-align:left;
}

.register-content label {
    display: block;
    padding-bottom: 7px;
}

.register-content span {
    display: block;
}
.register-content
{
    padding-left:35px;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
    height:auto;
    padding-top:15px;
    overflow:hidden;
}
.register-dialog input
{
    border:1px solid #D5D5D5;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,.07) inset;
    color:black;
    font:12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height:28px;
    padding:0px 8px;
    word-spacing:0.1em;
    width:300px;
}

.submit-button-register{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}
